[submodule "dep/imgui"]
	path = dep/imgui
	url = git@github.com:ocornut/imgui.git
[submodule "dep/nativefiledialog-extended"]
	path = dep/nativefiledialog-extended
	url = git@github.com:btzy/nativefiledialog-extended.git
[submodule "dep/Scene-Serializer"]
	path = dep/Scene-Serializer
	url = git@github.com:bjadczak/Scene-Serializer.git
[submodule "dep/glfw"]
	path = dep/glfw
	url = git@github.com:glfw/glfw.git
